* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh;
  display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main_buttons {
  margin: 20px 10px 20px 10px;
  width: 150px;
  height: 40px;
}

.search_page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.searcher {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_container {
  display: inline-grid;
  grid-template-columns: repeat(4, 330px);
  grid-template-rows: repeat(500px);
}

img,
.card_block {
  margin: 10px;
  width: 300px;
  height: 417px;

  border-radius: 10px;
}

/*  */

/* .card_block:hover {
  background-image: url('../../public/mtgkeckmaster.gif');
} */

#search_id {
  /* display: grid; */
  margin: 20px;
  height: 50px;
  width: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
